body {
    margin: 0;
  }
  #gauche {
    float: left;
    width: 70%;
    height: 1000px;
    background-color: #EFECCA;
  }
  #droite {
    background-color: #CEFFF8;
    height: 1000px;
    padding : 10px;
    padding-left: 71%;
  }
  input {
    margin: 10px 10px 10px 10px;
    outline: none;
  }
  span {
    margin: 10px 10px;
  }
  button {
    border-radius: 6px;
    margin: 10px 0 0 10px;
    background-color: white;
    border: 1px solid grey;
    outline: none;
  }