<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/desc/headDesc'); %>
</head>
<body class="container">
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    
    <header>
        <%- include('../partials/desc/headerDesc'); %>
    </header>
    <main>
        <%- include('../partials/desc/bodyDesc'); %>
    </main>
   
</body>
    
</html>