<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        FormBuilder
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#about">About</a></li>
                        <li class="scroll-to-section"><a href="#projects">Projects</a></li>
                        <li class="submenu">
                            <a href="javascript:;">Application Types</a>
                            <ul>
                                <li><a href="">Corona</a></li>
                                <li><a href="">Malaria</a></li>
                                <li><a href="">Sida</a></li>
                                <li><a href="">Ebola</a></li>
                            </ul>
                        </li>
                        <div class="search-icon">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>